{% extends "base.html" %}
{% block title %} Ajouter un USER{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="white">
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Clavioter un nouveau USER</H1> <br>
                Prénom <input type = "text" name= "firstname_user_html" /> <br>
                Nom <input type = "text" name= "lastname_user_html" /> <br>
                Mail <input type = "text" name= "mail_html" /> <br>
                Téléphone <input type = "text" name= "phone_html" /> <br>
                Adresse <input type = "text" name= "address_html" /> <br>
                Ville <input type = "text" name= "city_html" /> <br>
                NPA <input type = "text" name= "npa_html" /> <br>
                Genres <input type = "select" name= "gender_html" /> <br>
                Date <input type = "select" name= "user_date_html" /> <br>
                <input type = "submit" value="Enregistrer le user">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}