{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Genre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_gender }}</td>
                    <td>{{ row.gender }}</td>
                    <td> <a href="{{ url_for('genders_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('genders_edit', id_gender_edit_html=row.id_gender) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('genders_select_delete', id_gender_delete_html=row.id_gender) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

